<nav>
    <img src="image/althea/logo.png" class="logo" />
    <h3>LAUNDRY HUB</h3>
    <img src="image/althea/menu.png" class="menu-pic" onclick="toggleMenu()" />

    
    <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
            <div class="user-info">
                <h2>Laundry Hub</h2>
            </div>
            <hr />
            <a href="/homepage" class="sub-menu-link">
                <img src="image/althea/home.png" />
                <p>Home</p>
                <span>></span>
            </a>

            <a href="/search" class="sub-menu-link">
                <img src="image/althea/explore.png" />
                <p>Explore</p>
                <span>></span>
            </a>

            <a href="/profile" class="sub-menu-link">
                <img src="image/althea/profile-menu.png" />
                <p>Profile</p>
                <span>></span>
            </a>
            <hr />

            <a href="/log_in" class="sub-menu-link">
                <img src="image/althea/login.png" />
                <p>Log in</p>
                <span>></span>
            </a>

            <a href="/logout" class="sub-menu-link">
                <img src="image/althea/logout.png" />
                <p>Log out</p>
                <span>></span>
            </a>

            <a href="/sign_up" class="sub-menu-link">
                <img src="image/althea/register.png" />
                <p>Register</p>
                <span>></span>
            </a>
        </div>
    </div>
</nav>
