<div class="parent-container">
    <div class="header-container">
        {{>navbar}}
    </div>

    <div class="homepage-img">
         <img src="image/image.jpg" class="homepage_img" alt="" />
    </div>
    <div class="isOnlineUser">
        <input type="text" value="{{currentUser}}" placeholder="@username" />
    </div>
    <div class="search-panel-bottom">
    <div class="search-panel-bottom-container">
        <div class="search-panel-bottom-container-inner-lbl">
            Laundry in Your Vicinity
        </div>

        <div class="search-panel-bottom-container-inner">
            <div
                id="store-container-card1"
                class="store-container-card"
                onclick="redirectToPage('Weclean')"
            >
                <div class="store-container-card-top">
                    <img src="image/image.jpg" class="shop_img" />
                </div>
                <div class="store-container-card-middle">
                    <img class="img_star" src="image/star.png" />
                </div>
                <div class="store-container-card-bottom">
                    <div class="store-description">
                        <span class="laundryshop_name">Weclean</span
                        ><br />Eco-friendly laundry technologies for sustainable
                        cleaning.
                    </div>
                </div>
            </div>

            <div
                id="store-container-card2"
                class="store-container-card"
                onclick="redirectToPage('Nonstop Laundry Shop Malate')"
            >
                <div class="store-container-card-top">
                    <img src="image/image.jpg" class="shop_img" />
                </div>
                <div class="store-container-card-middle">
                    <img class="img_star" src="image/star.png" />
                    <img class="img_star" src="image/star.png" />
                </div>
                <div class="store-container-card-bottom">
                    <div class="store-description">
                        <span class="laundryshop_name"
                        >Nonstop Laundry Shop Malate</span
                        ><br />State-of-the-art facilities for a seamless laundry
                        experience.
                    </div>
                </div>
            </div>

            <div
                id="store-container-card3"
                class="store-container-card"
                onclick="redirectToPage('7Folds Laundry')"
            >
                <div class="store-container-card-top">
                    <img src="image/image.jpg" class="shop_img" />
                </div>
                <div class="store-container-card-middle">
                    <img class="img_star" src="image/star.png" />
                    <img class="img_star" src="image/star.png" />
                    <img class="img_star" src="image/star.png" />
                </div>
                <div class="store-container-card-bottom">
                    <div class="store-description">
                        <span class="laundryshop_name">7Folds Laundry</span
                        ><br />Rapid, efficient service to meet your laundry needs
                        promptly.
                    </div>
                </div>
            </div>

            <div
                id="store-container-card4"
                class="store-container-card"
                onclick="redirectToPage('XYZ Laundry Service')"
            >
                <div class="store-container-card-top">
                    <img src="image/image.jpg" class="shop_img" />
                </div>
                <div class="store-container-card-middle">
                    <img class="img_star" src="image/star.png" />
                    <img class="img_star" src="image/star.png" />
                    <img class="img_star" src="image/star.png" />
                    <img class="img_star" src="image/star.png" />
                </div>
                <div class="store-container-card-bottom">
                    <div class="store-description">
                        <span class="laundryshop_name">XYZ Laundry Service</span
                        ><br />Luxurious garment care with a focus on quality and
                        finesse.
                    </div>
                </div>
            </div>
        </div>


         <div class="bottom-container">
            
        <div class="about_us">
            <div id="left_description">
                <p id="left_description_lbl">About Us</p>
                <p id="left_desc">
                    Welcome to our <b>Laundry Hub</b> tailored for De La Salle
                    University students! We understand the importance of convenient
                    and reliable laundry services for students like you. Our
                    platform is designed to help you locate the nearest laundry
                    shops effortlessly.
                </p>
            </div>

            <div id="right_description">
                <p>
                Explore customer reviews and comments to make informed decisions
                about where to trust your laundry. Gain insights from both fellow
                students and the shop owners' responses, ensuring a transparent
                and reliable laundry experience. Find the right laundry shop that
                fits your preferences and enjoy a hassle-free laundry experience!
                </p>
            </div>
        </div>
    </div>

        <h1 class="developers_title">Meet the team behind <span style="color:aquamarine;">The Laundry Hub</span></h1>

        <div class="developersInfo">

            <div class="developer">
                <div class="eachDeveloper">
                    <img src="image/althea/keira.png" alt="">
                    <p>Keira Alcantara</p>
                    <a href="mailto:keira_alcantara@dlsu.edu.ph">keira_alcantara@dlsu.edu.ph</a>
                </div>
            </div>

            <div class="developer">
                <div class="eachDeveloper">
                    <img src="image/althea/althea.png" alt="">
                    <p>Reina Althea Garcia</p>
                    <a href="mailto:reina_garcia@dlsu.edu.ph">reina_garcia@dlsu.edu.ph</a>
                </div>
            </div>

            <div class="developer">
                <div class="eachDeveloper">
                    <img src="image/althea/miko.png" alt="">
                    <p>Miko Santo</p>
                    <a href="mailto:miko_santos@dlsu.edu.ph">miko_santos@dlsu.edu.ph</a>
                </div>
            </div>

            <div class="developer">
                <div class="eachDeveloper">
                    <img src="image/althea/alliyah.png" alt="">
                    <p>Alliyah Zulueta</p>
                    <a href="mailto:alliyah_zulueta@dlsu.edu.ph">alliyah_zulueta@dlsu.edu.ph</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let subMenu = document.getElementById("subMenu");
    function toggleMenu() {
        subMenu.classList.toggle("open-menu");
    }
</script>
